*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
/app/blackberry/release
/app/minimalphone/release
/app/softwarekeyboard/release
app/release
app/softwarekeyboardSpotlight/release
app/softwarekeyboard/debug
.idea
